/* NAVBAR STYLES */

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
  margin: 0 10px;
  color: var(--text-muted);
} 

.logo-area {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 1.2rem;
}

.search-area {
  background: var(--surface-muted);
  width: 692px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.search-area input {
  border: none;
  background: var(--surface-muted);
  color: var(--text-color);
  height: 100%;
  width: 95%;
  font-size: 1rem;
  margin-left: 10px;
}
input:focus {
  outline: none;
}
.search-area span {
  margin-left: 10px;
}

.settings-area {
  display: flex;
}

.profile-actions-area {
  display: flex;
}
.profile-actions-area .tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-user {
  cursor: pointer;
}
